:root {
  --primary-color: #f9bc60;
  --secondary-color: #004643;
  --tertially-color: #abd1c6;
  --neutral-dark: #232946;
  --neutral-light:  #e6e5e5;
}

*, 
*:before, 
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  background: var(--tertially-color);
}

.container {
  width: 300px;
  font-family: 'Open Sans', sans-serif;
  background: var(--neutral-light);
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  box-shadow: 1px 1px 8px var(--neutral-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.header {
  background: var(--primary-color);
  height: 2rem;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.date {
  text-transform: uppercase;
  color: var(--secondary-color);
}

.fa-refresh {
  color: var(--secondary-color);
  cursor: pointer;
  transition: transform .5s ease-in-out;
}

.fa-refresh:hover {
  transform: rotate(180deg);
}

.content {
  padding: 2rem 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--secondary-color);
}

ul {
  padding: 0 1rem;
  margin: 0;
}

.item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  border-bottom: 1px solid var(--neutral-light);
}

.fa-check-circle {
  color: var(--secondary-color);
  cursor: pointer;
}

.far {
  cursor: pointer;
}

.lineThrough {
  text-decoration: line-through;
  color: var(--secondary-color);
}

.add-item {
  background: var(--secondary-color);
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;  
}

.fa-plus-circle {
  color: var(--primary-color);
}

input {
  width: 100%;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid var(--primary-color);
  outline: none;
  margin-left: .5rem;
}
